/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
*/

* {
    box-sizing: border-box;
}

:root {
    --background-color: #1C1C1C;
    --primary-color: #4ADF86;
    --secondary-color: #fff;
    --para-color: #D5D4D8;
    --btn-color: #10B981;
    --pass-color: #55F991;
    --line-color: #2F3E53;
    --pass-back-color: #273549;
    --main-back-color: #1F2937;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    position: relative;
    height: 100vh;
    color: var(--secondary-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* =============
    Typography
   ============= */

   .main-heading {
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif; 
    color: var(--secondary-color);
    font-weight: 800;
    margin: 0;
    line-height: 1;
   }

   .main-heading span {
    color: var(--primary-color);
   }

   .subtitle {
    font-size: 1.25rem;
    color: var(--para-color);
    margin-top: 0;
    margin-bottom: 2em;
   }

   .btn {
    padding: .5em 1em;
    border: 0;
    border-radius: 5px;
   }

   .btn-primary {
    background-color: var(--btn-color);
    color: #fff;
   }

   .btn:hover {
    color: var(--btn-color);
    background-color: #fff;
    border: 0;
    cursor: pointer;
   }

/* ===============
   layout
   =============== */

   .main {
    max-width: 700px;
    margin: 2em;
    background-color: var(--main-back-color);
    padding: 3.25rem;
    border-radius: 10px;
   }

   .line {
    height: 1px;
    display: block;
    margin: 1em 0;
    background-color: var(--line-color);
   }

   .passwords {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    gap: 1em 0;

   }

   .passwords > * {
    grid-column: 2;
   }

   .pass {
    height: 2.5rem;
    background-color: var(--pass-back-color);
    border-radius: 6px;
    color: var(--pass-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
    resize: none;
    border: 0;
   }

   .pass:hover {
    cursor: pointer;
   }

   .passLength {
    f
   }

   .pass-range {
    cursor: pointer;
    position: relative;
    font-weight: bold;
   }

   .pass-range::before {
    content: "5";
    position: absolute;
    left: -15px;
    color: #10B981;
    display: block;
   }

   .pass-range::after {
    content: "15";
    position: absolute;
    right: -20px;
    color: #10B981;
   }

   .showCopied {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 200px;
    height: 3em;
    margin: 1em auto 0;
    position: absolute;
    bottom: 1em;
   }

   .showCopied > p {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: var(--line-color);
   }

   .hideCopied {
    visibility: hidden;
   }

   .copiedExitBtn {
    cursor: pointer;
   }

   .toggleBtns > * {
    cursor: pointer;
   }

   .passLength {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   @media (min-width: 500px) {
    body {
        text-align: initial;
    }

    .passwords {
        grid-template-columns: 1fr 0.5em 1fr;
    }


    .pass1 {
        grid-column: 1;
    }

    .pass2 {
        grid-column: 3;
    }

    .passLength {
        flex-direction: row;
        justify-content: space-between;
    }
   }


